/* Base Styles */
.inventory-container {
  padding: 20px;
  font-family: 'DM Sans', sans-serif;
  background-color: #f5f6ff;
  border-radius: 20px;
  margin: auto;
}

.summary-section {
  display: flex;
  justify-content: space-around;
  background-color: #e5e7eb;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.summary-section p {
  margin: 0;
  font-size: 18px;
  color: #333;
}

.tab-navigation {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}

.table-container {
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
  overflow-x: auto;
}

.table-wrapper {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.table-container {
  min-width: 1000px;
}

.pagination {
  display: flex;
  align-items: center;
  margin-top: 10px;
  font-size: 14px;
}

.pagination button {
  padding: 5px 10px;
  margin: 0 5px;
  background-color: #457689;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
}

.filter-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 8px;
  margin-bottom: 1.5rem;
}

.search-input-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.export-button {
  display: flex;
  align-items: center;
  padding: 0.5rem 0.75rem;
  background-color: #457689;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Responsive Styles */
@media (max-width: 768px) {
  /* Container and General Adjustments */
  .inventory-container {
    padding: 15px;
  }

  .summary-section {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .summary-section p {
    font-size: 16px;
  }

  .tab-navigation {
    flex-direction: column;
    align-items: center;
  }

  .filter-section {
    flex-direction: column;
    align-items: stretch;
  }

  .search-input-container {
    width: 100%;
  }

  .status-dropdown,
  .search-input,
  .filter-button {
    width: 100%;
    margin-bottom: 10px;
  }

  .table-container {
    padding: 5px;
  }

  /* Pagination Adjustments */
  .pagination {
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
  }

  .pagination button {
    padding: 8px;
    font-size: 13px;
  }
}

@media (max-width: 480px) {
  .inventory-container {
    padding: 10px;
  }

  .summary-section {
    padding: 8px;
    gap: 10px;
  }

  .summary-section p {
    font-size: 14px;
  }

  .tab {
    padding: 8px;
    font-size: 14px;
  }

  .table-container {
    padding: 5px;
  }

  .table-wrapper {
    -webkit-overflow-scrolling: touch;
  }

  th, td {
    padding: 6px 8px;
    font-size: 12px;
  }

  .pagination button {
    padding: 5px;
    margin: 0 3px;
    font-size: 12px;
  }

  .filter-button, .export-button {
    width: 100%;
    padding: 10px;
    font-size: 14px;
  }
}
