/* Access.css */
.users-page {
    font-family:"DM Sans", sans-serif;
  
} 
.title{
  font-family: "DM Sans", sans-serif;
  font-weight: bold;
}  


.tab-navigation {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}

.tab{
  padding: 10px 15px;
  cursor: pointer;
  color: #333;
  font-weight: 500;
}

.active-tab {
  border-bottom: 2px solid #333;
  font-weight: bold;
}

.user-form {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  margin-bottom: 20px;
}

.form-group {
  display: flex;
  margin: auto;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input,
.form-group select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.mobile-group {
  display: flex;
}

.mobile-group select {
  margin-right: 10px;
}

.submit-btn {
  grid-column: span 2;
  margin-right: 450px;
  padding: 10px ;
  background-color: #457689;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #457689;
}

/* User Table */
.user-table {
  border-collapse: collapse;
}

.user-table th,
.user-table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
  background-color: #fff;
}

.user-table th {
  background-color: #e5e7eb;
}

.user-table input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

@media (max-width: 768px) {
  .user-form {
    grid-template-columns: 1fr;
  }
}
