/* Profile.css */

.profile-page {
  font-family: Arial, sans-serif;
   max-width: auto;
     }

 .tabs nav ul li {
  margin-right: 60px;
     padding-top: 20px;
  cursor: pointer;
  font-weight: bold;
  color: #707070 ;
}
  

.profile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;    
  padding-bottom: 10px;
}

.profile-header h1 {
  font-size: 24px;
  font-weight: bold;
}

.workshop-info {
  text-align: right;
  font-size: 16px;
  font-weight: bold;
}

.contact-number {
  display: block;
  font-size: 14px;
  color: #777;
}
.profile-form-container {
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin-top: 20px;
}

.profile-form {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  max-width: 900px;
  width: 100%;
}

.form-group {
  display: flex;
  margin-left: 10px;
  flex-direction: column;
}

.form-group label {
  font-size: 14px;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.form-group input[type="date"] {
  position: relative;
  background: urlno-repeat right 10px center;
  background-size: 20px;
}

@media (max-width: 768px) {
  .profile-form {
    grid-template-columns: 1fr;
  }

  .tabs nav ul {
    flex-direction: column;
  }
}
next-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.next-button:hover {
  background-color: #0056b3;
}