.profile-page {
  font-family: "DM Sans", sans-serif;
}

.title {
  font-family: "DM Sans", sans-serif;
  font-weight: bold;
}

.profile-form-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align form and button to the left */
  margin-top: 20px;
}

.profile-form {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  max-width: 900px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-size: 14px;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.submit-button {
  margin-top: 20px;
  margin-left: 50px;
  padding: 10px 20px;
  background-color: #457689;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

.submit-button:hover {
  background-color: #34596c;
}

@media (max-width: 768px) {
  .profile-form {
    grid-template-columns: 1fr;
  }
}
