/* ReminderCard styles */
.reminder-card {
    border-radius: 8px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: auto;
  }

  .tabs nav ul li {
    padding-top: 20px;
    cursor: pointer;
    font-weight: bold;
    color: #666;
  }
  
  
  .reminder-title {
    font-size: 18px;
    font-weight: 600;
  }
  
  .text-muted {
    font-size: 14px;
  }
  
  .add-notification-button {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  button i {
    font-size: 16px;
  }

.reminder-card {
    border-radius: 8px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
   }
  
  .reminder-title {
    font-size: 18px;
    font-weight: 600;
  }
  
  .text-muted {
    font-size: 14px;
  }
  
  .add-notification-button {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  button i {
    font-size: 16px;
  }
    