.header {
  background-color: #f8f9fa;
  padding-left: 0%; /* Ensure there is space from the left */
  padding-right: 10%; /* Optional padding for a better layout */
  border-radius: 0px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: relative; /* Needed to allow positioning */
  z-index: 10; /* Ensures the header is above the sidebar */
  height: 60px; /* Set a fixed height for the header */
  display: flex; /* Aligns children in a row */
  align-items: center; /* Centers content vertically */
}
.header label{
  margin-left: 20px;
}
.icon {
  margin-left:20px;
  padding: 10px;
}
