.layout {
    display: flex;
    height: 100%;
    padding-top: 0px;/* This moves the sidebar top of the header */
  }
  
  .main-content {
    flex-grow: 1;
    display: flex;
   flex-direction: row;
   
  }
  
  .page-content {
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex-grow: 1;
  }