.new-bill-container {
    padding: 20px;
    margin: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

h2 {
  margin-bottom: 20px;
}

.form-grid {
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
}

input,
select,
textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none; 
}

textarea {
  resize: vertical; 
}

.submit-button {
  margin-top: 20px;
  padding: 10px 15px;
  background-color: #457689;
  color: white;
  border: 1px solid #457689;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s; 
}

.submit-button:hover {
  background-color: #fff;
  color: #457689;
  border-color: #457689;
}

.full-width {
  grid-column: span 2;
}
