.container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: #f5f5f5;
  position: fixed;
  overflow-y: auto;
  -ms-overflow-style: none;  
  scrollbar-width: none;
}

.live-date {
  font-size: 15px;
  padding-left:90%;
}
 
.addButton {
  background-color: #007bff;
  height: 35px;
  width: 40px;
  border: none;
  cursor: pointer;
  margin-bottom:6% ;
}
 
.cardsContainer {
  display: flex;
  overflow-x: auto;
 
}

.card {
  width: 180%;
  padding: 15px;
  margin: 10px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  text-align: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
 
.cardTitle {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  margin: 10px 0 5px;
}
 
.cardValue {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}
 
.cardPrice {
  font-size: 16px;
  color: #fff;
  margin-top: 5px;
}
 
.searchContainer {
  display: flex;
  align-items: center;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  margin-bottom: 20px;
}
 
.searchInput {
  flex-grow: 1;
  margin-left: 10px;
  font-size: 16px;
  border: none;
  outline: none;
}