.sidebar {
  width: 200px;
  padding: 5px;
  background-color: hsla(228, 77%, 52%, 0.941);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: auto;
  position: fixed;
  overflow-y: auto;
  -ms-overflow-style: none;  
  scrollbar-width: none;
 
 
}
.sidebar::-webkit-scrollbar {
  display: none;  
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}
 
.sidebar ul li {
  margin-bottom: 15px;
}
 
.sidebar ul li a{
  text-decoration: none;
  color: #ffffff;
  display: block;
  padding: 10px;
  border-radius: 4px;
  transition: background-color 0.3s ease, color 0.3s ease;
  background-color: transparent;
}
 
.sidebar ul li a:hover {
  background-color:#00337f;
  color: #ffffff;
}
 
.sidebar ul li a:active {
  background-color: #00337f;
  color: #ffffff;
}
 
/* Make sidebar responsive */
@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    position: relative;
    height: auto;
  }
 
  .sidebar ul li {
    margin-bottom: 10px;
  }
}