/* .app {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  height: 100vh;
}
 
.main-layout {
  display: flex;
  flex: 1;
}
 
.content {
  flex: 1;
  padding: 20px;
  margin-left: 250px;
  overflow: auto;
  width: 100%;
} */

.app {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
}
 
.main-layout {
  display: flex;
  flex: 1;
}
 
.content {
  flex: 1;
  margin-left: 100px;
  margin-top: 50px;
  padding: 20px;
}