.layout {
  display: flex;
}

.content-wrapper {
  margin-left: 220px;
  width: calc(100% - 220px);
}

.main-content {
  margin-top: 60px;
  padding: 20px;
  overflow-y: auto;
  height: calc(100vh - 60px);
}
